# __pycache__                                
src/__pycache__/                             
/src/models/__pycache__/                     
/src/routes/__pycache__/                     
/src/utility/__pycache__/                    
                                             
# Byte-compiled / optimized / DLL files      
__pycache__/                                 
*.py[cod]                                    
                                             
# C extensions                               
*.so                                         
                                             
# Node modules                               
./text-gen-frontend/node_modules/            
node_modules/                                
                                             
# Environment variables                      
.env                                         
                                             
# Log files                                  
*.log                                        
                                             
# Python bytecode files                      
*.pyc                                        
__pycache__/                                 
                                             
# Build output directories (if applicable)   
build/                                       
dist/                                        
                                             
# Ignore frontend and backend-specific files 
frontend/.env                                
backend/.env                                 
